@{
    Layout = "~/Views/Shared/_LayoutMainMetronic.cshtml";
}


<div class="card card-default">


    <div class="gridview-div">

        @Html.AntiForgeryToken()

        @(Html.DevExtreme().DataGrid()
            .ID("grid1")
            .DataSource(d => d.Mvc()
                .Controller("ListMenu")
                .LoadAction("GetGridData")
                .Key("menu_id")
            )
            .RemoteOperations(true)
            .Width("100%")
            .Columns(columns =>
            {

                columns.Add().DataField("menu_nama").Caption("Nama Menu").Width("100%").CellTemplate(@<text>
                        <a id="menu<%= data.menu_id %>" target="_blank"  href="<%= data.menu_link %>" ><%=data.menu_nama %></a>
                    @*<a id="menu<%= data.menu_id %>" style="color:royalblue;cursor:pointer;" onclick="Redirect('<%= data.menu_link %>')"  ><%=data.menu_nama %></a>*@
                </text>);

            })
            .FilterRow(f => f.Visible(true))
            //.AllowColumnResizing(true)
            .WordWrapEnabled(true)
            .ShowBorders(false)
            //.Selection(c => c.Mode(SelectionMode.Multiple))
            .RowAlternationEnabled(false)
            .Paging(p =>
            {
                p.PageSize(20);
                p.Enabled(true);
            }
            )
             .Pager(p =>
             {
                 p.ShowInfo(true);
             }
             )
        )

    </div>
</div>

<script type="text/javascript">
    function Redirect(a) {
        window.open(a);
    }
    //let link = document.querySelector('#menu1');
    //if (link) {
    //    alert('masuk');
    //    link.removeAttribute('rel');
    //}
    //for (let i = 1; i < 7; i++) {
        
    //    let link = document.querySelector('#menu' + i.toString());
    //    if (link) {
    //        alert('masuk');
    //        link.removeAttribute('rel');
    //    }
    //}

</script>
