@{
    Layout = "~/Views/Shared/_LayoutMainMetronic.cshtml";
}

<style>
    .dx-datagrid .dx-row > td{
        font-size:80%;
    }
</style>

@section RightToolbar{
    <div class="d-flex align-items-center">
		<!--begin::Actions-->
		<a href="javascript:Resend()" class="btn btn-light-primary font-weight-bolder btn-sm"><span class="image fa fa-send"></span> Resend</a>
		<!--end::Actions-->
		<!--begin::Dropdown-->
		<div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
			<a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="svg-icon svg-icon-success svg-icon-2x">
					<!--begin::Svg Icon | path:~/assets_m/media/svg/icons/Files/File-plus.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<polygon points="0 0 24 0 24 24 0 24" />
							<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
							<path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>
			</a>
			<div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
				<!--begin::Navigation-->
				<ul class="navi navi-hover">
					<li class="navi-header font-weight-bold py-4">
						<span class="font-size-lg">Choose Label:</span>
						<i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
					</li>
					<li class="navi-separator mb-3 opacity-70"></li>
					<li class="navi-item">
						<a href="#" class="navi-link">
							<span class="navi-text">
								<span class="label label-xl label-inline label-light-success">Customer</span>
							</span>
						</a>
					</li>
					<li class="navi-item">
						<a href="#" class="navi-link">
							<span class="navi-text">
								<span class="label label-xl label-inline label-light-danger">Partner</span>
							</span>
						</a>
					</li>
					<li class="navi-item">
						<a href="#" class="navi-link">
							<span class="navi-text">
								<span class="label label-xl label-inline label-light-warning">Suplier</span>
							</span>
						</a>
					</li>
					<li class="navi-item">
						<a href="#" class="navi-link">
							<span class="navi-text">
								<span class="label label-xl label-inline label-light-primary">Member</span>
							</span>
						</a>
					</li>
					<li class="navi-item">
						<a href="#" class="navi-link">
							<span class="navi-text">
								<span class="label label-xl label-inline label-light-dark">Staff</span>
							</span>
						</a>
					</li>
					<li class="navi-separator mt-3 opacity-70"></li>
					<li class="navi-footer py-4">
						<a class="btn btn-clean font-weight-bold btn-sm" href="#">
						<i class="ki ki-plus icon-sm"></i>Add new</a>
					</li>
				</ul>
				<!--end::Navigation-->
			</div>
		</div>
		<!--end::Dropdown-->
	</div>
}

<div class="card card-default">   
    <script>
        function OpenBody(id) {
            ShowPopupMain("@Url.Action("PopupBody","Email")?id=" + id, "Badan Email", "900px", "500px");
        }
    </script>
    <div class="gridview-div">
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().DataGrid()
            .ID("grid1")
            .DataSource(d => d.Mvc()
                .Controller("Email")
                .LoadAction("GetGridQueueData")
                .Key("EmailqId")
            )
            .Width("100%")
            .RemoteOperations(true)
            .Columns(columns =>
            {
                columns.Add().DataField("EmailqQueueDate").Width("300px").Caption("Tanggal Antrian").DataType(GridColumnDataType.DateTime).Format("dd-MM-yyyy HH:mm").SortIndex(0).SortOrder(SortOrder.Desc);
                columns.Add().DataField("EmailqTo").Width("200px").Caption("Kepada");
                columns.Add().DataField("EmailqSubject").Width("200px").Caption("Judul").CellTemplate(@<text><a style="cursor:pointer;" href="#" onclick="OpenBody('<%= data.EmailqId%>')" title='<%= data.EmailqSubject%>'><%= data.EmailqSubject%></a></text>);
                columns.Add().DataField("EmailqStatus").Width("50px").Caption("Status");
                columns.Add().DataField("EmailqCc").Width("200px").Caption("Cc");
                //columns.Add().DataField("EmailqBcc").Width("200px").Caption("Bcc");
                columns.Add().DataField("EmailqErrorText").Caption("Error Text");
                columns.Add().DataField("EmailqId").Visible(false);

            })
            .FilterRow(f => f.Visible(true))
            .ShowBorders(false)
            .Selection(c => c.Mode(SelectionMode.Single))
            .RowAlternationEnabled(false)
            .Paging(p =>
            {
                p.PageSize(20);
                p.Enabled(true);
            })
        )
    </div>
</div>


<script type="text/javascript">
    function Resend(e) {
        var keys = $("#grid1").dxDataGrid("getSelectedRowKeys");
        if (keys.length >= 1) {
            var ask = confirm('Apakah Anda yakin akan mengirim ulang email ini ?');
            if (ask) {
                $.ajax({
					type: "POST",
					url: "@Url.Action("Resend","Email")",
					contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "json",
                    data: {
                        key: keys[0]
                    },
                    success: function (response) {
                        if (response.includes("Sukses")) {
                            swal({
                                type: "success",
                                title: "Sukses",
                                text: response
                            });
                            $("#grid1").dxDataGrid("instance").refresh();
                        } else {
                            swal({
                                type: "error",
                                title: "Oops...",
                                text: response
                            });
                        }
                    },
                    error: function (response) {
                        swal({
                            type: "error",
                            title: "Oops...",
                            text: response.responseJSON.error
                        });
                    }
				});
            }
        } else {
            alert('Silahkan Pilih Baris Telebih Dahulu');
        }
    }
</script>