@inject BDA.DataModel.DataEntities db
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@if (db.GetSessionString("errtext") != null)
{
    <h1 class="text-danger">Permission Denied.</h1>
    <h2 class="text-danger">@db.GetSessionString("errtext").</h2>

    db.RemoveSession("errtext");
}
else
{
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
}
