<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncWebService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SyncWebService.Settings1.ConnStringSQL" connectionString="Data Source=10.225.60.50;Initial Catalog=BDAPM;Persist Security Info=True;User ID=sa;Password=password.1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SyncWebService.Settings1>
            <setting name="APIUrl" serializeAs="String">
                <value>http://10.225.60.14:9995/api/</value>
            </setting>
            <setting name="APIUserId" serializeAs="String">
                <value>hdp-ojk</value>
            </setting>
            <setting name="APIEncPassword" serializeAs="String">
                <value>qw1APhEYEZ0W1pD0GysqtpBrN7pUSW2PX8ZST1jgA/M=</value>
            </setting>
        </SyncWebService.Settings1>
    </userSettings>
</configuration>