
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<table border='1' style='width:100%;'>
    <tr><td style='width:120px;'>Title:</td><td>Random</td></tr>
    
</table>
    
    <script type="text/javascript">
        
        
    </script>

    

